<section class="p-8 flex flex-col justify-between text-bglight">
    <div>
        <h1 class="text-2xl">Facturación</h1>
        
        <div>
            <table class="w-full border-collapse border-spacing-0">
                <thead>
                    <tr>
                        <td class="p-4">Orden id</td>
                        <td class="p-4 text-center">Total orden</td>
                        <td class="p-4">Total a facturar</td>
                        <td class="p-4 text-center">Fecha de pedido</td>
                        <td class="p-4">Estado</td>
                        <td class="p-4 text-center">Editar</td>
                        <td class="p-4"><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"></td>
                    </tr>
                </thead>
                <tbody>
                    @for(invoice of invoices; track invoice.id) {
                    <tr class="text-sm p-4 bg-white">
                        <td class="p-4 border-b-2"><a [routerLink]="['/invoice-detail', invoice.id]" target="_blank">{{ invoice.id }}</a></td>
                        <td class="p-4 border-b-2 text-center">{{ invoice.total }}</td>
                        <td class="p-4 border-b-2">{{ invoice.id }}</td>
                        <td class="p-4 border-b-2 text-center">{{ invoice.total }}</td>
                        <td class="p-4 border-b-2">{{ invoice.status }}</td>
                        <td class="p-4 border-b-2 text-center"><fa-icon [icon]="faPenToSquare"></fa-icon></td>
                        <td class="p-4 border-b-2"><input type="checkbox" [(ngModel)]="invoice.checkbox" (change)="checkboxChanged()"></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-end bottom">
        <button (click)="submit()"
        class="bg-blue text-sm font-bold text-white p-4 hover:bg-lightblue">Facturar</button>
    </div>
</section>