<section class="flex flex-col justify-between text-bglight p-1 md:p-8">
    <div>
        <h1 class="text-2xl p-2">Facturación</h1>
        <div>
            <table class="w-full border-collapse border-spacing-0">
                <thead>
                    <tr>
                        <td class="p-2 md:p-4">Orden id</td>
                        <td class="text-right hidden md:table-cell">Total orden</td>
                        <td class="p-2 text-right md:p-4">Total a facturar</td>
                        <td class="p-2 text-center md:p-4">Fecha de pedido</td>
                        <td class="p-2 md:p-4">Estado</td>
                        <td class="text-center hidden md:table-cell p-4">Editar</td>
                        <td class="p-2 md:p-4"><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @for(invoice of invoices; track $index) {
                    <tr class="text-sm bg-white md:p-4">
                        <td class="p-2 border-b-2 md:p-4"><a [routerLink]="['/invoice-detail', invoice.id]" target="_blank">{{
                                invoice.orderId }}</a></td>
                        <td class="p-4 border-b-2 text-right hidden md:table-cell"><a [routerLink]="['/invoice-detail', invoice.id]"
                                target="_blank">{{ invoice.orderTotal | currency: '$': 'symbol':'1.0-0' }}</a></td>
                        <td class="p-2 border-b-2 text-right md:p-4 "><a [routerLink]="['/invoice-detail', invoice.id]" target="_blank">{{
                                invoice.taxedPrice | currency: '$': 'symbol':'1.0-0' }}</a></td>
                        <td class="p-2 border-b-2 text-center md:p-4"><a [routerLink]="['/invoice-detail', invoice.id]"
                                target="_blank">{{ invoice.createdAt.substring(0, 10) }}</a></td>
                        <td class="p-2 border-b-2 md:p-4"><a [routerLink]="['/invoice-detail', invoice.id]" target="_blank">{{
                                invoice.siigoStatus }}</a></td>
                        <td class=" border-b-2 text-center hidden md:table-cell p-4"><fa-icon [icon]="faPenToSquare"></fa-icon></td>
                        <td class="p-2 border-b-2 md:p-4"><input type="checkbox" [(ngModel)]="invoice.checkbox"
                                (change)="checkboxChanged()"></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div>
        <pagination-controls (pageChange)="pageChange($event)" [(ngModel)]="currentPage"/>
    </div> -->
    <div class="flex justify-end p-4 md:p-0">
        <button (click)="submit()" class="bg-blue text-sm font-bold text-white p-4 hover:bg-lightblue">Facturar</button>
    </div>
</section>