@if(!response) {
<section class="section text-bglight">
    <h1 class="py-4">Cargar productos</h1>
    <article class="flex flex-col justify-center mt-8 items-center gap-4">
        <div class="bg-white max-w-max place-items-center shadow-lg p-8">
            <div class="pt-2 basis-1/4">
                <form [formGroup]="formProvider">
                    <select name="Seleccione un proveedor" formControlName="selectProvider" class="p-2 border-b-2">
                        <option value="default" selected="selected">Seleccione un proveedor</option>
                        @for (user of users; track $index ) {
                        <option [value]="user.id_wooCommerce">{{ user.email }}</option>
                        }
                    </select>
                </form>
            </div>
            <div class="p-4">
                <input
                    accept=".doc,.docx,.xml, .csv, application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                    type="file" name="file" accept=".csv" (change)="onFileSelected($event)">
            </div>
            <div class="p-4">
                <app-button typeBtn="button" color="blue" (click)="fileUpload(formProvider.get('selectProvider')?.value)">Subir archivo</app-button>
            </div>
        </div>
    </article>
</section>
}

@if(response) {
<section class="p-1 md:px-6 text-bglight" cdkScrollable>
    <h1 class="text-2xl py-2">Cargar productos</h1>
    @if(response.processed >= 1) {
    <div class="bg-white p-4 text-center">
        <p>Tu archivo fue cargado en: {{ response.load.reference }}</p>
    </div>
    }
    <div class="flex justify-evenly p-4">
        <h1 class="p-4 text-sm font-bold bg-mediumblue text-white"><fa-icon class="pr-2"
                [icon]="faCircleInfo"></fa-icon> Total: {{ response.total }}</h1>
        <h1 class="p-4 text-sm font-bold bg-lightsuccess text-white"><fa-icon class="pr-2" [icon]="faCheck"></fa-icon>
            Procesados: {{ response.processed }}</h1>
        <h1 class="p-4 text-sm font-bold bg-lightdanger text-white"><fa-icon class="pr-2" [icon]="faX"></fa-icon>
            Rechazados: {{ response.rejected }}</h1>
    </div>
    @if(response.rejectedProducts.length >= 1) {
    <cdk-virtual-scroll-viewport [itemSize]="80" minBufferPx=200 maxBufferPx=400 ViewportRuler class="viewport">
        <table class="w-full border-collapse border-spacing-0 pr-2" cdkScrollable>
            <thead cdkScrollable>
                <tr>
                    <td class="p-2 md:p-4">SKU</td>
                    <td class="p-2 md:p-4">Descripción</td>
                    <td class="p-2 text-center md:p-4">Error</td>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let rejectedProduct of response.rejectedProducts ; let i = index"
                    class="text-sm bg-white md:p-4">
                    <td class="p-2 border-b-2 break-all md:p-4 md:max-w-40">{{ rejectedProduct.product.sku }}</td>
                    <td class="p-2 border-b-2 max-w-40 break-normal md:p-4">{{ rejectedProduct.product.name }}
                    </td>
                    <td class="p-2 border-b-2 md:p-4">{{ rejectedProduct.reason }}</td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
    <div class="flex justify-center gap-4">
        <app-button typeBtn="reset" color="blue" (click)="refresh()" class="mt-4">Intentar de nuevo</app-button>
        <!-- <app-button (click)="downloadRejected(response.rejectedProducts)" class="mt-4">Descargar rechazados</app-button> -->
    </div>
    }
    @if(response.rejectedProducts == 0) {
    <div class="flex justify-center bottom-full p-2"><app-button typeBtn="reset" color="blue" (click)="refresh()" class="mt-4">Subir más
            archivos</app-button></div> 
    }
</section>
}