<section class="p-1 md:p-8">
    <h1 class="text-2xl p-2">Cargar productos</h1>
    <article class="flex flex-col justify-center mt-8 items-center gap-4">
        <div class="bg-white max-w-max place-items-center shadow-lg p-8">
            <div class="pt-2 basis-1/4">
                <select name="Seleccione un proveedor" id="" class="p-2 border-b-2">
                    <option value="">Seleccione un proveedor</option>
                    <option value="">Proveedor 1</option>
                    <option value="">Proveedor 2</option>
                    <option value="">Proveedor 3</option>
                </select>
            </div>
            <div class="p-4">
                <input accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="" id="">
            </div>
            <div class="p-4">
                <app-button routerLink="/products-list">Subir archivo</app-button>
            </div>
        </div>
    </article>
</section>