<section class="text-bglight p-1 md:p-8" cdkScrollable>
    <h1 class="p-2">Listado de productos</h1>
    <div class="flex justify-between pt-4">
        <form [formGroup]="formProvider">
            <select name="Seleccione un proveedor" formControlName="selectProvider"
                class="p-2 border-b-2 bg-light max-w-min">
                <option value="default" selected="selected">Seleccione un proveedor</option>
                @for(user of users; track $index) {
                <option [value]="user.id_wooCommerce">{{ user.email }}</option>
                }
            </select><fa-icon class="pl-8 cursor-pointer" (click)="getProducts(formProvider.get('selectProvider')?.value)"
                [icon]="faMagnifyingGlass"></fa-icon>
        </form>
        <app-button (click)="downloadProductsCsv(formProvider.get('selectProvider')?.value)">Descargar listado</app-button>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" minBufferPx=200 maxBufferPx=400 ViewportRuler class="viewport">
        <table class="w-full border-collapse border-spacing-0" cdkScrollable>
            <thead cdkScrollable>
                <tr>
                    <td class="p-2 md:p-4">SKU</td>
                    <td class="p-2 md:p-4">Descripción</td>
                    <td class="p-2 text-center md:p-4">IMG</td>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let product of products; let i = index" class="text-sm bg-white md:p-4">
                    <td class="p-2 border-b-2 break-all md:p-4 md:max-w-40">{{ product.sku}}</td>
                    <td class="p-2 border-b-2 max-w-40 break-normal md:p-4">{{ product.description }}</td>
                    <td class="p-2 border-b-2 text-center md:p-4"><img [src]="product.urlImage1" class="w-36 mx-auto">
                    </td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</section>