<section class="bg-bg">
    <div class="max-w-screen-lg m-auto h-screen bg-white">
        <div class="py-4">
            <div class="px-14 md:py-6">
                <table class="w-full border-collapse border-spacing-0">
                    <tbody>
                        <tr>
                            <td class="w-full align-top">
                                <div>
                                    <img src="/assets/LogoBT.png" class="md:h-12 h-8" />
                                </div>
                            </td>

                            <td class="align-top">
                                <div class="text-sm">
                                    <table class="border-collapse border-spacing-0">
                                        <tbody>
                                            <tr>
                                                <td class="border-r pr-4">
                                                    <div>
                                                        <p class="whitespace-nowrap text-lighttext text-right">Fecha</p>
                                                        <p class="whitespace-nowrap font-bold text-right">
                                                            {{ invoice()?.due_date }}</p>
                                                    </div>
                                                </td>
                                                <td class="pl-4">
                                                    <div>
                                                        <p class="whitespace-nowrap text-lighttext text-right">Orden Id
                                                        </p>
                                                        <p class="whitespace-nowrap font-bold text-main text-right">
                                                            {{ invoice()?.id}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="bg-light px-14 py-6 text-sm">
                <table class="w-full border-collapse border-spacing-0">
                    <tbody>
                        <tr>
                            <td class="w-1/2 align-top">
                                <div class="text-sm text-bglight">
                                    <p class="font-bold">Saldu</p>
                                    <p>NIT: 23456789</p>
                                    <p>Dirección: Calle 222112</p>
                                    <p>Telefono: 1231421412</p>
                                    <p>Colombia</p>
                                </div>
                            </td>
                            <td class="w-1/2 align-top text-right">
                                <div class="text-sm text-bglight">
                                    <p class="font-bold">{{ invoice()?.customer_name }}</p>
                                    <p>NIT: {{ invoice()?.customer }}</p>
                                    <p>Dirección: {{ invoice()?.customer_address }}</p>
                                    <p>Telefono: {{ invoice()?.customer_phone }}</p>
                                    <p>Email: {{ invoice()?.customer_email }}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="px-14 py-10 text-sm text-bg">
                <table class="w-full border-collapse border-spacing-0">
                    <thead class="">
                        <tr>
                            <td class="border-b-2 border-main pb-3 pl-3 font-bold">#</td>
                            <td class="border-b-2 border-main pb-3 pl-2 font-bold">Descripción del producto</td>
                            <td class="border-b-2 border-main pb-3 pl-2 text-right font-bold">Precio</td>
                            <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold">Cantidad</td>
                            <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold">IVA</td>
                            <td class="border-b-2 border-main pb-3 pl-2 text-right font-bold">Subtotal</td>
                            <td class="border-b-2 border-main pb-3 pl-2 pr-3 text-right font-bold">Subtotal + IVA
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-b py-3 pl-3">1.</td>
                            <td class="border-b py-3 pl-2">s</td>
                            <td class="border-b py-3 pl-2 text-right">$150.00</td>
                            <td class="border-b py-3 pl-2 text-center">1</td>
                            <td class="border-b py-3 pl-2 text-center">20%</td>
                            <td class="border-b py-3 pl-2 text-right">$150.00</td>
                            <td class="border-b py-3 pl-2 pr-3 text-right">$180.00</td>
                        </tr>
                        <tr>
                            <td class="border-b py-3 pl-3">2.</td>
                            <td class="border-b py-3 pl-2">Taxation consulting (hour)</td>
                            <td class="border-b py-3 pl-2 text-right">$60.00</td>
                            <td class="border-b py-3 pl-2 text-center">2</td>
                            <td class="border-b py-3 pl-2 text-center">20%</td>
                            <td class="border-b py-3 pl-2 text-right">$120.00</td>
                            <td class="border-b py-3 pl-2 pr-3 text-right">$144.00</td>
                        </tr>
                        <tr>
                            <td class="border-b py-3 pl-3">3.</td>
                            <td class="border-b py-3 pl-2">Bookkeeping services</td>
                            <td class="border-b py-3 pl-2 text-right">$50.00</td>
                            <td class="border-b py-3 pl-2 text-center">1</td>
                            <td class="border-b py-3 pl-2 text-center">20%</td>
                            <td class="border-b py-3 pl-2 text-right">$50.00</td>
                            <td class="border-b py-3 pl-2 pr-3 text-right">$60.00</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <table class="w-full border-collapse border-spacing-0">
                                    <tbody>
                                        <tr>
                                            <td class="w-full"></td>
                                            <td>
                                                <table class="w-full border-collapse border-spacing-0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="border-b p-3">
                                                                <div class="whitespace-nowrap text-lighttext">SubTotal:
                                                                </div>
                                                            </td>
                                                            <td class="border-b p-3 text-right">
                                                                <div class="whitespace-nowrap font-bold text-main">
                                                                    $32000
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-3">
                                                                <div class="whitespace-nowrap text-lighttext">IVA:
                                                                </div>
                                                            </td>
                                                            <td class="p-3 text-right">
                                                                <div class="whitespace-nowrap font-bold text-main">$6400
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="bg-blue">
                                                            <td class="bg-main p-3">
                                                                <div class="whitespace-nowrap font-bold text-white">
                                                                    Total:
                                                                </div>
                                                            </td>
                                                            <td class="bg-main p-3 text-right">
                                                                <div class="whitespace-nowrap font-bold text-white">
                                                                    $384.00
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div class="px-14 text-sm text-bg">
            <p class="text-main font-bold">PAYMENT DETAILS</p>
            <p>Banks of Banks</p>
            <p>Bank/Sort Code: 1234567</p>
            <p>Account Number: 123456678</p>
            <p>Payment Reference: BRA-00335</p>
        </div> -->

            <!-- <div class="px-14 py-10 text-sm text-bg">
            <p class="text-main font-bold">Notes</p>
            <p class="italic">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                industries
                for previewing layouts and visual mockups.</p>
        </div>-->

        <!-- <footer class="fixed bottom-0 left-0 bg-light w-full text-bglight text-center text-xs py-3">
            Supplier Company
            <span class="text-slate-300 px-2">|</span>
            info&#64;company.com
            <span class="text-slate-300 px-2">|</span>
            +1-202-555-0106
        </footer>  -->
            <div class="flex justify-end mt-28 pr-10 gap-4">
                <button class="bg-blue text-sm font-bold text-white p-4 hover:bg-lightblue">Editar</button>
                <button (click)="submit()" class="bg-blue text-sm font-bold text-white p-4 hover:bg-lightblue">Facturar</button>
            </div>
        </div>
    </div>
</section>