<section class="section flex flex-col justify-between text-bglight">
    <div>
        <h1 class="py-4">Órdenes facturadas</h1>
        <div class="w-full overflow-x-auto">
            @if(invoices.length >= 1) {
            <table class="w-full border-collapse border-spacing-0">
                <thead>
                    <tr>
                        <td class="p-2 md:p-4">Orden id</td>
                        <td class="text-right hidden md:table-cell md:p-4">Total orden</td>
                        <td class="p-2 text-right md:p-4">Total facturado</td>
                        <td class="p-2 text-center md:p-4">Fecha de facturación</td>
                        <td class="p-2 text-center md:p-4">Estado Siigo</td>
                        <td class="p-2 text-center md:p-4">Enviado</td>
                        <td class="p-2 text-center md:p-4">Link Siigo</td>
                    </tr>
                </thead>
                <tbody>
                    @for(invoice of invoices; track $index) {
                    <tr class="text-sm bg-white md:p-4">
                        <td class="p-2 border-b-2 md:p-4">{{ invoice.orderId }}</td>
                        <td class="p-4 border-b-2 text-right hidden md:table-cell">{{ invoice.orderTotal | currency: '$': 'symbol':'1.0-0' }}</td>
                        <td class="p-2 border-b-2 text-right md:p-4 ">{{ invoice.taxedPrice | currency: '$': 'symbol':'1.0-0' }}</td>
                        <td class="p-2 border-b-2 text-center md:p-4">{{ invoice.createdAt.substring(0, 10) }}</td>
                        <td class="p-2 border-b-2 text-center md:p-4">{{ invoice.siigoStatus }}</td>
                        <td class="p-2 border-b-2 text-center md:p-4">{{ invoice.customerMailed ? 'Enviado al cliente' : 'Pendiente de envío' }}</td>
                        <td class="p-2 border-b-2 text-center whitespace-nowrap overflow-hidden text-ellipsis break-all max-w-5 md:max-w-prose md:p-4"><app-button typeBtn="button" color="blue"><a [href]="invoice.publicUrl" target="_blank">Ver en Siigo</a></app-button></td>
                    </tr>
                    }
                </tbody>
            </table>
            } @else {
            <div>
                <p class="p-2">No se encontraron órdenes</p>
            </div>
            }
        </div>
    </div>
</section>