<section class="flex justify-center align-middle min-h-screen max-h-dvh mx-auto text-bglight bg-lightgray">
    <div class="mt-40 w-2/5 md:w-3/12">
        <img src="/assets/404.png" alt="404" class="w-4/5 md:w-1/2 my-10">
        <h1 class="text-2xl md:text-6xl">Lo sentimos!</h1>
        <p class="text-sm  md:text-xl py-6">No hemos podido encontrar la página que estabas buscando</p>
        <app-button typeBtn="reset" color="blue" routerLink="/dashboard">Volver al dashboard</app-button>
    </div>
    <img src="/assets/not-found.svg" alt="Not found image" class="w-2/5 md:w-2/5 md:my-auto">
</section>