li:hover {
    background-color: #2f2f2f;
}

section {
    height: calc(100vh - 68px);
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar {
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 0.3s ease;   
}
