li:hover {
    background-color: #2f2f2f;
}

.sidebar {
    height: 100dvh;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar {
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease;
}

.sidebar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -webkit-hidden-scrollbar;
}

::-webkit-scrollbar {
    display: none;
}