<section class="text-bglight p-1 md:p-8" cdkScrollable>
    <h1 class="p-2">Listado de productos sin imagen</h1>
    <form [formGroup]="formProvider">
        <select name="Seleccione un proveedor" formControlName="selectProvider"
            class="p-2 border-b-2 bg-light max-w-min">
            <option value="default" selected="selected">Seleccione un proveedor</option>
            @for(user of users; track $index) {
            <option [value]="user.id_wooCommerce">{{ user.email }}</option>
            }
        </select><fa-icon class="pl-8 cursor-pointer"
            (click)="getProducts(formProvider.get('selectProvider')?.value, 'no seleccionada')"
            [icon]="faMagnifyingGlass"></fa-icon>
    </form>
    @if(products.length > 0) {
    <cdk-virtual-scroll-viewport [itemSize]="50" minBufferPx=200 maxBufferPx=400 ViewportRuler class="viewport">
        <table class="w-full border-collapse border-spacing-0 pr-2" cdkScrollable>
            <thead cdkScrollable>
                <tr>
                    <td class="p-2 md:p-4">SKU</td>
                    <td class="p-2 md:p-4">Descripción</td>
                    <td class="p-2 text-center md:p-4">IMG</td>
                    <td class="p-2 text-center md:p-4">IMG</td>
                    <td class="p-2 text-center md:p-4">IMG</td>
                    <td class="p-2 text-center md:p-4">IMG</td>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let product of products; let i = index" class="text-sm bg-white md:p-4">
                    <td class="p-2 border-b-2 break-all md:p-4 md:max-w-40">{{ product.sku}}</td>
                    <td class="p-2 border-b-2 max-w-40 break-normal md:p-4">{{ product.name }}</td>
                    <td class="p-2 border-b-2 text-center md:p-4"><img [src]="product.urlImage1" class="w-36 mx-auto">
                        <input type="radio" (change)="onImageSelect(product.sku, product.urlImage1)"
                            [value]="product.urlImage1" [name]="product.sku" class="">
                    </td>
                    <td class="p-2 border-b-2 text-center md:p-4"><img [src]="product.urlImage2" class="w-36 mx-auto">
                        <input type="radio" (change)="onImageSelect(product.sku, product.urlImage2)"
                            [value]="product.urlImage2" [name]="product.sku" class="">
                    </td>
                    <td class="p-2 border-b-2 text-center md:p-4"><img [src]="product.urlImage3" class="w-36 mx-auto">
                        <input type="radio" (change)="onImageSelect(product.sku, product.urlImage3)"
                            [value]="product.urlImage3" [name]="product.sku" class="">
                    </td>
                    <td class="p-2 border-b-2 text-center md:p-4"><img [src]="product.urlImage4" class="w-36 mx-auto">
                        <input type="radio" (change)="onImageSelect(product.sku, product.urlImage4)"
                            [value]="product.urlImage4" [name]="product.sku" class="">
                    </td>
                    <td class="p-2 border-b-2 text-center md:p-4"><app-button
                            (click)="saveImage(product.id, selectedImage[product.sku])">Guardar</app-button></td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
    }
</section>